.main-header {
  background-color: var(--elements-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.main-header h1 {
  font-size: 28px;
}

.theme-switcher-wrapper {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}

.switch-theme-icon {
  font-size: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .main-header h1 {
    font-size: 20px;
  }
  .theme-switcher-wrapper {
    width: 150px;
  }
}
