.countries-section {
  padding: 50px;
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color);
}

.filter-search-wrapper {
  padding: 50px 50px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .filter-search-wrapper {
    flex-direction: column;
    gap: 25px;
  }
}
